/* font-family: 'Raleway', sans-serif; */

.hide
{
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  position: absolute;
  visibility: hidden;
}

/* 공통 */
html
{
  font-size: 16px;
  color: #666;
  font-family: '나눔고딕스퀘어_ac','sans-serif';
}
a
{
  color: #666;
}
div>article,div>header
{
  width: 1134px;
  margin: 0 auto;
  /* background-color: pink; */
}
#wrap>div
{
  padding: 70px 0px;
}
div>article>h3
{
  font: lighter 72px 'Raleway', sans-serif;
  margin-bottom: 45px;
  text-align: center;
}
img
{
  max-width: 100%;
}
/* z-index : body, header(900), modal(2500) ,aside(200-1500), nav(1500) */
/* header */
#wrap>#header
{
  padding: 20px 0 20px;
  background-color: rgba(60, 32, 61, 0.7);
  /* 고정 */
  position: fixed;
  left: 0; top: 0;
  width: 100%;
  z-index: 900;
}
#header>header
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header>header a
{
  color: #fff;
}
#header>header>h1
{
  font: 30px '나눔고딕스퀘어_ac', sans-serif;
}
header>nav
{}
/* 
header>nav>ul
{
  display: flex;
} 
*/
header>nav>ul>li
{
  display: inline-block;
  margin-left: 34px;
  /* 대문자만들기 */
  text-transform: uppercase;
}

/* header btn*/
#header .btn
{
  position: absolute;
  width: 40px; height: 40px;
  /* background-color: pink; */
  top: 20px; right: 20px;
  display: none;
}

/* box01 */
#box01
{
  /* width:auto; */
  height: 100vh;
  background: url(../images/header_back.png) no-repeat center top;
  padding: 0px;
}
#box01>article
{
  height: 100vh;
  position: relative;
}
#box01>article>h3
{
 position: absolute;
 top: 24.4680851%; left: 0; width: 100%;
 color: #fff;
}
#box01>article>ul
{
  position: absolute;
  width: 100%; bottom: 18.0851063%;
  left: 0;
  display: flex;
  flex-wrap: wrap;
}
#box01>article>ul>li
{
  width: 33.33333%;
}
#box01>article>ul>li>span
{
  width: 226px; height: 226px;
  display: block;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7) url(../images/header_icon_01.png) no-repeat center;
  margin: 0 auto 17px;
}
#box01>article>ul>li:nth-child(2)>span
{
  background-image: url(../images/header_icon_02.png);
}
#box01>article>ul>li:nth-child(3)>span
{
  background-image: url(../images/header_icon_03.png);
}
#box01>article>ul>li>dl
{
  width: 226px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
  color: #fff;
}
#box01>article>ul>li>dl>dt
{
  margin-bottom: 10px;
}

/* box02 */
#box02
{
  background-color: #e8e8e8;
}
#info
{
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#info>h4
{
  width: 274px;
  margin-left: 26px;
}
#info>ul
{
  width: 618px;
  margin-right: 105px;
}
#info>ul>li
{
  display: flex;
  margin-bottom: 15px;
  flex-wrap: wrap;
}
#info>ul>li>dfn
{
  width: 150px;
}
#info>ul>li>span
{
  width: 468px;
}

/* box04 */
#box04
{
  background-color: #f93cf9;
  color: #fff;
}
#box04 form
{}
#box04 form ul
{}
#box04 form ul>li
{
  margin-bottom: 34px;
  line-height: 50px;
  position: relative;
  padding-left: 172px;
}
#box04 form ul>li>label
{
  position: absolute;
  width: 172px;
  left: 0; top: 0;
  padding-left: 77px;
  background: url('../images/contact_icon_01.png') no-repeat 25px center;
}
#box04 form ul>li:nth-child(2)>label
{
  background: url('../images/contact_icon_02.png') no-repeat 25px center;
}
#box04 form ul>li:nth-child(3)>label
{
  background: url('../images/contact_icon_03.png')no-repeat 25px center;
}
#box04 form ul>li:nth-child(4)>label
{
  background: url('../images/contact_icon_04.png')no-repeat 25px center;
}
#box04 form ul>li>input
{
  /* 가로크기 꼭 넣어야함 */
  width: 100%;
  border: none;
  box-sizing: border-box;
  background-color: #fff;
  line-height: 50px;
  text-indent: 30px;
}
#box04 form ul>li>textarea
{
  width: 100%;
  border: none;
  box-sizing: border-box;
  background-color: #fff;
  height: 165px;
  line-height: 50px;
  text-indent: 30px;
}
#box04 form p
{
  text-align: right;
}
#box04 form p>input
{
  width: 125px;
  line-height: 40px;
  font-size: 20px;
  background-color: #f69d20;
  border: none;
  margin: 0;
  color: #fff;
}

/* footer */
footer
{
  padding: 43px 0;
  background-color: #333;
  color: #fff;
  font-size: 15px;
  text-align: center;
}

/* aside */
aside
{
  position: fixed;
  top:50%; right: 15px;
  background-color: rebeccapurple;
  z-index: 2000;
}
aside>ul
{}
aside>ul>li
{
  margin-bottom: 25px;
}
aside>ul>li>a
{
  display: block;
  width: 30px; height: 30px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
  text-indent: -99999px;
}

/* modal */
#modal
{
  display: none;
  /* display: block; */
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
  z-index: 2500;
  background-color: rgba(0, 0, 0, 0.85);
}
#modal>p
{
  position: fixed;
  /* position: absolute 가능*/
  width: 30px; height: 30px;
  right: 30px; top: 30px;
  background-color: red;
}
#modal section
{
  position: fixed;
  width: 980px;
  left: 50%;
  top: 50%;
  margin: -200px 0 0 -490px;
  background-color: #fff;
  padding: 25px;
  box-sizing: border-box;
}
#modal section>h5
{
  font-size: 25px;
  margin-bottom: 40px;
  text-align: center;
}
#modal section>div
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#modal section>div>figure
{
  width: 40%;
}
#modal section>div>dl
{
  width: 50%;
}
#modal section>div>dl>dt
{
  clear: both;
  float: left;
  width: 150px;
  margin-bottom: 25px;
  /* padding-right: 50px; */
  padding-bottom: 20px;
  border-bottom: 1px solid #aaa;
}
#modal section>div>dl>dd
{
  float: left;
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #aaa;
}